#barcodevideo,
#barcodecanvas,
#barcodecanvasg {
    /* height: 400px; */
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

#barcodecanvasg {
    /* position: absolute; */
    /* top: 0px;
    left: 0px; */
}

#result {
    font-family: verdana;
    font-size: 1.5em;
}

#barcode {
    /* position: relative; */
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
}

#barcodecanvas {
    display: none;
}